#Start group project here. 

print("This program will search for a file in your working directory.")

def filefinder():
    import os
    file=os.listdir()
    count=1
    for i in range(5):
        filename=input('what is your file name: ')
        if filename in file:
            print("file found")
            break
        elif count==5:
            print("Sorry can't find the file")
        else:
            print("Try again")
        count+=1
        #print(count)#had this for testing to see what it was doing.
filefinder()


#Sandra
#part 3 
#work in progess
# convert to reverse compliment 
# than use this in a loop to process multiple seqs in a file.
def makereverse(Seq):
    #first change from upper to lowercase
    seqA2t=Seq.replace("A","t")
    seqT2a=seqA2t.replace("T","a")
    seqC2g=seqT2a.replace("C", "g")
    seqG2c=seqC2g.replace("G","c")
    seqdnacomp=seqG2c.upper()
    return seqdnacomp
#Sandra- todo find 4-6 ORFS, strat postion, len
